@media screen and (max-width: 960px) {
    .navbar-navs-custom-class{
        align-items: start !important;
        padding: 6px 20px;
    }
    .navbar-navs-custom-class li{
        width: 100%;
    }
    .dropdown-custom-toggler {
        width: 100%;
    }
    .navbar-navs-custom-class li a:hover {
        color: #0000008c !important;
    }
    .custom-class-for-industries-dropdown{
        margin-left: -10px;
        margin-top: 0px;
        border: none;
        padding-bottom: 0;
        margin-bottom: -10px;
    }
    .on-hover-background-remover:hover{
        background: #397b9c !important;
    }
    .custom-class-for-serviceIndustry-dropdown{
        margin-left: 0px;
        margin-top: 0px;
        border: none;
        padding-bottom: 0;
        margin-bottom: -10px;
    }
}

@media only screen and (max-width: 960px) and (min-width: 768px){
     /* general styling */
     h1 {
        font-size: 27px;
    }
    h2{
        font-size: 12px;
    }
    .custom-spacing-for-hero-col-1{
        margin-left: -10px;
    }
    .custom-styling-for-hero-container{
        height: 500px;
    }
    /* Services section */
    .card-1{
        margin: auto;
    }
    
}

@media screen and (max-width: 768px) {
    /* general styling */
    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 15px;
    }
    .custom-spacing-for-hero-col-1{
        margin-left: -10px;
    }
    .custom-spacing-for-cols{
        padding-left: 5px;
    }
    .responsive-title-for-pages{
        font-size: 30px;
    }
    .apps-title-hero{
        font-size: 21px;
        color: #19488F;
    }
    .custom-spacing-for-cols-apps{
        padding-left: 30px;
    }
    .custom-widths-for-software-cards{
        width: 75%;
    }
    /* Services */
    .card {
        width: 100%;
    }
    .card-1{
        margin-left: 0;
    }
    .consultation-title{
        font-size: 17px;
        width: 60%;
        margin: auto;
    }
    /* Cards in business plan */
    .for-box-shadow-in-cards {
        filter: drop-shadow(0px 1px 10px rgba(50, 50, 0, 0.2));
        position: relative;
        left: 29%;
    }
}

@media screen and (max-width: 600px) {
    /* Testiomonial section */
    .testimonial-slide-container{
        padding: 40px 30px;
    }
    .consultation-title{
        width: 80%;
    }
    /* Cards in business plan */
    .for-box-shadow-in-cards {
        filter: drop-shadow(0px 1px 10px rgba(50, 50, 0, 0.2));
        position: relative;
        left: 18%;
    }
}