@media screen and (max-width: 960px) {
    .navbar-navs-custom-class{
        align-items: start !important;
        padding: 6px 20px;
    }
    .navbar-navs-custom-class li{
        width: 100%;
    }
    .dropdown-custom-toggler {
        width: 100%;
    }
    .navbar-navs-custom-class li a:hover {
        color: #0000008c !important;
    }
    .custom-class-for-industries-dropdown{
        margin-left: -10px;
        margin-top: 0px;
        border: none;
        padding-bottom: 0;
        margin-bottom: -10px;
    }
    .on-hover-background-remover:hover{
        background: #397b9c !important;
    }
    .custom-class-for-serviceIndustry-dropdown{
        margin-left: 0px;
        margin-top: 0px;
        border: none;
        padding-bottom: 0;
        margin-bottom: -10px;
    }
}

@media only screen and (max-width: 960px) and (min-width: 767px){
     /* general styling */
     h1 {
        font-size: 27px;
    }
    h2{
        font-size: 12px;
        border-bottom: 3.2px solid #DD1818;
        line-height: 14px;
    }
    b{
        font-weight: 600;
    }
    /* .custom-styling-for-hero-container{
        height: 500px;
    } */
    /* Hero */
    .custom-spacing-for-hero-col-1{
        padding-left: 25px;
    }
    .custom-class-for-hero-h1{
        font-size: 27px;
        padding-top: 30px !important;
        letter-spacing: .6px;
    }
    .hero-image{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    /* ABout section */
    .custom-class-about-section{
        padding: 48px 0px !important;
    }
    .custom-class-for-col-1-about{
        padding-left: 25px;   
    }
    .for-h2-in-about-section{
        font-size: 15px;
        margin-bottom: 20px !important;
    }
    .text-in-about-home-page{
        margin-top: 25px;
    }
    /* Services section */
    .card-1{
        margin: auto;
    }
    /* Cards in business plan */
    .for-box-shadow-in-cards {
        filter: drop-shadow(0px 1px 10px rgba(50, 50, 0, 0.2));
        position: relative;
        left: 50px;
    }
    .hero-container-h2{
        font-size: 11px;
        letter-spacing: -.1px;
    }
    
}

@media screen and (max-width: 766px) {
    /* general styling */
    h1 {
        font-size: 27px;
    }
    h2{
        font-size: 15px;
    }
    .custom-spacing-for-hero-col-1{
        margin-left: -10px;
    }
    .custom-spacing-for-cols{
        padding-left: 5px;
    }
    .responsive-title-for-pages{
        font-size: 30px;
    }
    .apps-title-hero{
        font-size: 21px;
        color: #19488F;
    }
    .custom-spacing-for-cols-apps{
        padding-left: 30px;
    }
    .custom-widths-for-software-cards{
        width: 75%;
    }
    /* hero */
    .custom-class-for-hero-h1{
        font-size: 22px;
        padding-top: 32px;
    }
    .custom-styling-for-hero-container{
        padding-bottom: 38px;
    }
    .hero-container-h2{
        font-size: 12px;
    }
    /* ABout section */
    .custom-class-about-section{
        padding: 48px 0px !important;
    }
    .for-title-in-about-section{
        font-size: 21px;
        padding-bottom: 24px;
    }
    .for-h2-in-about-section{
        line-height: 19px;
    }
    .custom-class-for-col-1-about{
        padding-left: 15px !important;
    }
    .custom-class-about-section{
            padding: 48px 0px !important;
    }
    .custom-class-for-col-1-about{
        padding-left: 25px;   
    }
    .for-h2-in-about-section{
        font-size: 15px;
        margin-bottom: 20px !important;
    }
    .text-in-about-home-page{
        margin-top: 15px;
        font-size: 14px;
        margin-right: 40px !important;
    }
    /* Services */
    .card {
        width: 100%;
    }
    .card-1{
        margin-left: 0;
    }
    .consultation-title{
        font-size: 17px;
        width: 60%;
        margin: auto;
    }
    /* Cards in business plan */
    .for-box-shadow-in-cards {
        position: relative;
        left: 29%;
    }
    /* testimonial */
    .testimonial-title{
        font-size: 25px;
        font-weight: 600;
    }
}

@media screen and (max-width: 600px) {
    /* Testiomonial section */
    .testimonial-slide-container{
        padding: 40px 30px;
    }
    .consultation-title{
        width: 80%;
    }
    /* Cards in business plan */
    .for-box-shadow-in-cards {
        position: relative;
        left: 18%;
    }
}