@media screen and (max-width: 960px) {
    .navbar-navs-custom-class{
        align-items: start !important;
        padding: 6px 20px;
    }
    .navbar-navs-custom-class li{
        width: 100%;
    }
    .dropdown-custom-toggler {
        width: 100%;
    }
}

@media only screen and (max-width: 960px) and (min-width: 768px){
     /* general styling */
     h1 {
        font-size: 27px;
    }
    h2{
        font-size: 12px;
    }
    .custom-spacing-for-hero-col-1{
        margin-left: -10px;
    }
    .custom-styling-for-hero-container{
        height: 500px;
    }
    /* Services section */
    .card-1{
        margin: auto;
    }
    
}

@media screen and (max-width: 768px) {
    /* general styling */
    h1 {
        font-size: 22px;
    }
    h2{
        font-size: 12px;
    }
    .custom-spacing-for-hero-col-1{
        margin-left: -10px;
    }
    /* Services */
    .card {
        width: 100%;
    }
    .card-1{
        margin-left: 0;
    }
    .consultation-title{
        font-size: 17px;
        width: 60%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    /* Testiomonial section */
    .testimonial-slide-container{
        padding: 40px 30px;
    }
}