* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden !important;
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: white;
}
/* general styling */
h1 {
    color: black ;
    font-size: 33px;
    letter-spacing: .9px;
    line-height: 1.4em;
}
h2{
    color: #4369a2;
    font-size: 15px;
    font-weight: 100;
    border-bottom: 5px solid red;
    width: max-content;
    letter-spacing: -.1px;
    line-height: 1.9em;
    text-transform: uppercase;
}
.main-btn{
    padding: 17px;
    font-size: 16px;
    font-weight: 500;
    color: #fef5f5;
    line-height: 1.5em;
    background-color: #dd1818;
    border: none;
    border-radius: 5px;
    text-shadow: 0 0 10px rgb(0 0 0 / 30%);
    text-transform: uppercase;   
    font-weight: 600;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}
.main-btn:hover{
    font-size: 18px;
    transition: all .3s ease;
}
.text-black{
    color: #2f2f2f !important;
}
.text-blue{
    color: #4369a2 !important;
}
.custom-width-for-row{
    max-width: 1150px;
    margin: 0 auto;
}
.custom-class-for-text{
    font-size: 17.3px;
}
.custom-spacing-for-cols{
    padding-left: 25px;
}
.responsive-title-for-pages{
    font-size: 52px;
    margin-left: -1px;
}
.custom-styling-for-unstyled-list-check-icon {
    padding-left: 15px;
    margin-top: 20px;
}
.custom-styling-for-unstyled-list-check-icon li{
    font-size: 17px;
    margin-bottom: 10px;
    padding-left: 13px;
    color: #000;
}
.custom-styling-for-unstyled-list-check-icon li::marker {
    content: "\f058"; /* FontAwesome Unicode */
    font: var(--fa-font-solid);
    color: #19488F;
    font-size: 16px;
}
.custom-width-for-row-in-apps{
    max-width: 1080px;
    margin: 0 auto;
}
.fa-comments  {
    transform: rotate(0deg) !important;
    margin-top: 0 !important;
    font-size: 45px !important;
}
.apps-title-hero{
    font-size: 34px;
    color: #19488F;
    font-weight: bold;
}
.apps-pages-banner-conatienr{
    background-color: transparent;
    background-image: linear-gradient(0deg,#FFFFFF 0%,#F2F1F1 100%);
}
.custom-spacing-for-cols-apps{
    padding-left: 40px;
}
.logoSlider {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    height: 300px;
  }
  
  .logoSlider::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  
  .logoContainer {
    display: flex;
  }
  
  .logo {
    border-radius: 3px;
    width: 50vh;
    height: auto;
    padding: 0 3em;
}
.background-color-apps-sections-container{
    background-color: #fafafa;
}
.apps-card-text{
    color: #19488F;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 2em;
    margin-top: 20px;
    text-align: center;
}
.custom-widths-for-software-cards{
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}
.accounting-container-backgorund-color-hero{
    background-color: transparent;
    background-image: linear-gradient(180deg,rgba(122,122,122,.13) 40%,rgba(122,122,122,.0392156862745098) 100%);
}
.icon-change-for-accounting li::marker {
    content: "\f1d8"; /* FontAwesome Unicode */
    font: var(--fa-font-solid);
    color: #19488F;
    font-size: 16px;
}
.industry-service-hero-container{
    background-color: transparent;
    background-image: linear-gradient(0deg,rgba(122,122,122,.0392156862745098) 0%,#E5E7EB 51%);
}
/* Header */
.custom-header-class{
    height: 70px;
}
.navbar-brand{
    padding: 0;
}
.header-logo{
    height: 70px;
}
.dropdown-toggle::after {
    display: none !important;
}
.navbar-navs-custom-class{
    align-items: center;
}
.navbar-navs-custom-class li {
    margin-right:35px;
}
.navbar-navs-custom-class li a{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.navbar-navs-custom-class li a:hover{
    color: #4684a3 !important;
}
.header-Btn{
    min-width: 150px;
    padding: 10px 29px;
    font-size: 14px;
    font-weight: 500;
    color: #fef5f5;
    line-height: 1.5em;
    background-color: #dd1818;
    border: none;
    border-radius: 5px;
}
.dropdown-custom-toggler{
    background:#397b9c;
    line-height: 15px;
}
.dropdown-custom-toggler li{
    padding: 10px 20px;
    margin: 0;
}
.dropdown-custom-toggler li:hover{
    background: #DD1814;
}
.dropdown-custom-toggler a{
    padding: 0;
    font-size: 13px;
}
.dropdown-custom-toggler a:hover{
    background: none !important;
}
.custom-class-for-industries-dropdown{
    margin-left: 140px;
    margin-top: -25px;
}
.custom-class-for-serviceIndustry-dropdown{
    margin-left: 196px;
    margin-top: -34px;
}
/* Hero section */
.custom-styling-for-hero-container{
    background-color: transparent;
    background-image: linear-gradient(180deg,#2D548F 40%,rgba(122,122,122,.0392156862745098) 100%);
}
.custom-styling-for-hero-row{
    max-width: 1150px;
    margin: 0 auto ;
}
.custom-class-for-hero-h1{
    padding-top: 30px;
    max-width:99%;
}
.custom-spacing-for-hero-col-1{
    padding: 98px 0 0 25px;
}
/* Logos section */
.custom-class-for-logos-grid-container{
    height:200px;
    margin-bottom: 25px;
    padding-bottom: 25px;
}


/* About Section */
.custom-class-about-section{
    background-color: #f3f3f3;
}
.custom-class-for-row-in-about{
    max-width: 1150px;
    margin: 0 auto;
}

/* Services Section */
.custom-class-for-row-in-services{
    max-width: 1150px;
    margin: 0 auto;
}
.card {
    width: 272px;
    height: 252px;
    background-color: white;
    overflow: hidden;
    padding: 40px 30px 35px;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 10px -3px rgba(0,0,0,.5);
}
.card-1{
    margin-left: auto;
}
.card:hover{
    background: rgb(156,148,226);
    background: linear-gradient(180deg, rgba(156,148,226,1) 0%, rgba(129,125,219,1) 51%);
}
.fa-cloud{
    background-color: rgba(87,82,208,.1);
    color: #5752d0;
    height: 48px;
    width: 48px;
    font-size: 22px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 50%!important;
    overflow: hidden;
}
.card-title{
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
.card-text{
    padding-top: 20px;
    font-size: 15px;
    color: #8c8c8c;
}
.card-text-on-hover{
    color: white;
    padding-top: 5px;
}
.fa-cloud-on-hover{
    color: white;
}
.hide-on-hover-services-section{
    display: none;
}
.show-on-hover-services-section{
    display: block !important;
}
.card-button{
    width: fit-content;
    height: 22px;
    background-color: rgb(0 0 0 / 1%);
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
}

/* Consultaion */
.custom-class-for-consultation-container{
    box-shadow: 5px 4px 29px 1px rgba(122,122,122,.41);
    padding: 40px 0 50px 0;
}
.custom-calss-for-consultation-row{
    max-width: 1150px;
    margin: 0 auto;
}
.icon-consultation-container i{
    font-size: 40px;
    width: 70px;
    height: 70px;
    transform: translateX(-50%);
    color: #DD1818;
    transform: rotate(41deg);
    margin-top: 20px;
}
.consultation-title{
    font-size: 25px;
}

/* Testimonial */
.custom-class-for-testimonial-row{
    max-width: 1150px;
    margin: 0 auto;
}
.testimonial-title{
    color: #19488F;
    font-size: 42px;
    font-weight: 700;
}
.testimonial-carousel-container{
    width: 670px;
    height: max-content;
}
.testimonial-slide-container{
    border: 1px solid #eaeaea;
    border-radius: 4px;
    z-index: 1;
    background-color: #fff;
    padding: 60px;
}
.testimonial-content-col-1 i{
    color: #CF1818;
    font-size: 30px;
}
.testimonial-content-col-2 p{
    color: #666666;
    font-size: 20px;
}
.testimonial-content-col-2 div{
    color: #666666;
    font-size: 14px;
}
.carousel-control-prev{
    justify-content: left;
    margin-left: -15px;
}
.carousel-control-next{
    justify-content: right;
    margin-right: -15px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: black;
    border: 1px solid #111111;
    border-radius: 50%;
    padding: 10px;
    font-size: 100px;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 5;
    background-size: 115% 55%;
    background-position: center;
    box-shadow: 0 3px 10px 0 rgb(255 255 255 / 62%);
    
}
.carousel-inner {
    width: 100%;
    overflow: hidden;
    border: 2px solid #eeeeee;
}
.carousel-indicators{
    margin-top: 20px;
}
.carousel-indicators [data-bs-target] {
    padding: 5px;
    width: 2px;
    margin-top: 10px;
}

/* Footer */
.custom-class-for-footer-row{
    max-width: 1150px;
    margin: 0 auto;
}
.footer-col-1-text{
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}
.footer-headings{
    margin-top: 50px;
    font-size: 19px;
    color: #a4a4a4;
}
.footer-text a{
    color: #19488f !important;
    font-size: 14px;
    margin-bottom: 15px;
}
.footer-text a:hover{
    color: black !important;
}
.bottom-footer-container{
    border-top: 1px solid #cfcfcf;
}
.bottom-footer-text{
    font-size: 13px;
    color: black;   
}