.custom-color-for-software-container-hero{
    background-color: transparent;
    background-image: linear-gradient(180deg,#A8C5D7 0%,rgba(122,122,122,.0392156862745098) 100%);
}
.custom-styling-for-unstyled-list-for-rpa {
    padding-left: 15px;
    list-style-type: square;
}
.custom-styling-for-unstyled-list-for-rpa li{
    font-size: 19px;
}
.custom-styling-for-unstyled-list-for-rpa li::marker{
    font-size: 20px;
}