.custom-color-for-rpa-container-hero{
    background-color: transparent;
    background-image: linear-gradient(180deg,#E6EAFF 8%,rgba(122,122,122,0) 61%);
}
.custom-styling-for-unstyled-list-for-rpa {
    padding-left: 15px;
    list-style-type: square;
}
.custom-styling-for-unstyled-list-for-rpa li{
    font-size: 19px;
}
.custom-styling-for-unstyled-list-for-rpa li::marker{
    font-size: 20px;
}