/* ABout page banner */
.about-page-banner-conatienr{
    background-color: transparent;
    background-image: linear-gradient(180deg,rgba(122,122,122,.0392156862745098) 40%,rgba(122,122,122,.0392156862745098) 100%);
}
.Title-for-main{
    font-size: 52px;
    margin-left: -1px;
}
.about-hero-banner{
    margin-top: 15px;
}
.custom-styling-for-unstyled-list {
    padding-left: 15px;
    list-style-type: square;
}
.custom-styling-for-unstyled-list li{
    font-size: 17px;
    margin-bottom: -5px;
}
.custom-styling-for-unstyled-list li::marker{
    font-size: 20px;
}
/* core values */
.card,.card-header {
    width: auto;
    height: auto;
    background-color: white;
    overflow: visible;
    padding: 0px 0px 0px;
    box-shadow: none;
    border: none;
    margin-top: 10px;
}
.card:hover{
    background: none;
}
@media only screen and (max-width: 766px){

    .card-header img{
        height: 150px;
        width: 150px;
        margin-top: 20px;
    }
}
.card-header img{
    height: 102px;
    width: 102px;
}
.card-body{
    padding: 0;
}
.card-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    color: #000;
    padding-top: 10px;
    letter-spacing: 1px;
}
.card-text{
    padding-top: 10px;
    color: #666;
    font-size: 14px;
    font-style: italic;
}